body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right top, #000000, #3c1229, #6e185d, #922ba5, #9b51fe);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Isso fará com que o background fique fixo durante o scroll */
  width: 100%;
  min-height: 100vh; /* Alterado de height para min-height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
